.card {
  background-color: transparent !important;
  box-shadow: none !important;
  border:none !important;
}

.item-card .card__image {
    background-color: #ef5350 !important;
}

.featured-live-event img {
  height: 60vh;
}
